%article#girl
  %h1
    #{@girl.name}
    - if @girl.rating?
      %span.rating
        #{@girl.rating}
  %section.nav
    = link_to "[edit]", edit_girl_path(@girl)
  %section.info
    %section{class: "attribute", id: "photo"}
      = link_to image_tag(@girl.photolink), @girl.vk
    %section{class: "attribute", id: "description"}
      %p Объективное описание: #{@girl.description}
      - if @vote
        %p Ваша оценка: #{@vote.value} баллов
        %p Аргументация: #{@vote.text}
  %section.call-to-action
    - if @vote
      = link_to "Перераскидать", edit_girl_vote_path(@girl, @vote), class: 'small button radius'
    - else
      %p Раскидай ее быстрей!
      = link_to "Раскидать", new_girl_vote_path(@girl, @vote), class: 'small button radius'

  - if current_user.voted?(@girl)
    %section.users-votes
      - @voted_users_except_me.each do |user|
        %section.user
          %section.photo
            = image_tag(user.photolink)
          %section.vote
            %p #{user.name}:
            %p #{@girl.votes.find_by(user_id: user.id).value} баллов
            %p= @girl.votes.find_by(user_id: user.id).text
  - else
    %p Раскинешь.


  %p.back
    = link_to girls_path do
      %i{class: "fa fa-arrow-left"}

