%article#girl
  %h1
    #{@girl.name}
    - if @girl.ready_for_vote_calculating?
      %span.rating
        #{@girl.rank}
  %section.nav
    = link_to "[edit]", edit_girl_path(@girl)
  %section.info
    %section{class: "attribute", id: "photo"}
      = link_to image_tag(@girl.photo.url(:medium)), @girl.vk
    %section{class: "attribute", id: "description"}
      %p Объективное описание: #{@girl.description}
      - if @vote
        %p Ваша оценка: #{@vote.value} баллов
        %p Аргументация: #{@vote.text}
  %section.call-to-action
    - if @vote
      = link_to "Перераскидать", edit_girl_vote_path(@girl, @vote), class: 'small button radius'
    - else
      %p Раскидай ее быстрей!
      = link_to "Раскидать", new_girl_vote_path(@girl, @vote), class: 'small button radius'

  - if @girl.ready_for_vote_calculating?
    %section.users-votes
      - @users_except_me.each do |user|
        %section.user
          %section.photo
            = image_tag(user.photo.url(:small))
          %section.vote
            %p #{user.name}:
            %p #{@girl.votes.find_by(user_id: user.id).value} баллов
            %p= @girl.votes.find_by(user_id: user.id).text
  - else
    %section.not-voted-users
      %h3 Еще не раскидали:
      - @girl.not_voted_users.each do |not_voted_user|
        %p
          = not_voted_user.name


  %p.back
    = link_to girls_path do
      %i{class: "fa fa-arrow-left"}

