= form_for [@girl, @vote] do |f|
  %section.inputs
    %div.row
      %div{class: "small-1 columns"}
        = f.label :value, "Rating"
      %div{class: "small-1 columns left inline"}
        = f.text_field :value
    %div.row
      %div{class: "small-1 columns"}
        = f.label :text, "Argument"
      %div{class: "small-5 columns left inline"}
        = f.text_area :text

  %div.row
    %div{class: "small-3 columns"}
    - if controller.action_name == "new"
      = f.submit 'Create', class: "small button radius"
    - else
      = f.submit 'Update', class: "small button radius"
  %div.nav
    = link_to 'Back', girl_path(@girl)
