!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = favicon_link_tag
    = favicon_link_tag 'favicon.png', rel: 'icon apple-touch-icon'
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = display_meta_tags site: ("Раскидка"), reverse: true, separator: '|'

  %body
    %nav.top-bar{data: { topbar: true }}
      %ul.title-area
        %li.name
          %h1
            = link_to "Раскиданные", root_path
      %ul.title-area
        %li.name
          %h1
            = link_to "Нераскиданные", unrated_path
      - if user_signed_in?
        %ul.title-area
          %li.name
            %h1.loh
              Лох часа #{ User.leonid.name }
      %section.top-bar-section
        - if user_signed_in?
          %ul.right
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %ul.right
            %li
              = link_to "Login", new_user_session_path

    - if notice
      %section.flash.alert-box.success
        = notice
    - if alert
      %section.flash.alert-box.alert
        = alert

    %section#body
      = yield

    %section#footer
      %section.wrapper
        %div.dedication
          Dedicated to my friend Alexander Zaytsev

    = javascript_include_tag "application"

