!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Раскидка
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    %nav.top-bar{data: { topbar: true }}
      %ul.title-area
        %li.name
          %h1
            = link_to "Раскидка", root_path
      %section.top-bar-section
        - if user_signed_in?
          %ul.right
            %li
              = link_to "Edit profile", edit_user_registration_path
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
          %div.user-name
            %div.s
              = current_user.name
        - else
          %ul.right
            %li
              = link_to "Registration", new_user_registration_path
            %li
              = link_to "Login", new_user_session_path

    - if notice
      %section.flash
        %span.alert-box.success
          = notice
    - if alert
      %section.flash
        %span.alert-box.alert
          = alert

    %section#body
      = yield

    %section#footer
      %section.wrapper
        %div.dedication
          Dedicated to my friend Alexander Zaytsev

    = javascript_include_tag "application"

